header {
    height: 100vh;
    padding-top: 2rem;
    padding-bottom: 2rem;
    overflow: hidden;
    /* background-color:rgb(43, 43, 48); */
    color: var(--color-dark);
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}