#experience {
    height: max-content;
    padding-top: 2rem;
    padding-bottom: 2rem;
    overflow: hidden;
    color: var(--color-dark);
}

.experience__container {
    text-align: left;
    height: 100%;
    position: relative;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-bottom: 2rem;
}

.experience__container h1 {
    font-size: 2rem;
    font-weight: 700;
    padding-top: 2rem;
}

.experience__container h2 {
    font-size: 1.2rem;
    font-weight: 400;
}

.experience__container h3 {
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
}

