nav {
    background: rgba(0,0,0,0.2);
    height: max-content;
    width: max-content;
    padding: 0.7rem 1rem;
    z-index: 2;
    position: fixed;
    transform: translateY(-50%);
    top: 50%;
    display: flex;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    left: 2rem;    
    bottom: 3rem;
}

nav a {
    padding: 0.2rem;
    color: var(--color-bg);
}

nav a.active {
    color: var(--color-white);
}

/* figure out a way to deal with mobile */

@media screen and (max-width: 600px) {
    nav {
        background: rgba(0,0,0,0.2);
        width: max-content;
        padding: 0.7rem 1rem;
        z-index: 2;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        top: 2rem;
        display: flex;
        flex-direction: row;
        border-radius: 3rem;
        backdrop-filter: blur(15px);
    
    }
}